<!-- Tabla con datos -->
<div class = "container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-content">

        <div class = "main-profile">
          <div class="row text-center">
              <div class="col-lg-12 heading-section">
                <h1><i class='fas fa-gamepad mx-3'></i><em>Tabla de Datos de</em> Speedrun<i class='fas fa-gamepad mx-3'></i></h1>
              </div>
          </div>

          <div class="input-group py-4">
            <h6 class = "text-white fw-bolder px-4 mt-2">Ingrese nombre del juego: </h6>
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" id = "input-juego"/>
            <div class="col-lg-12 text-center my-2">
              <button type="submit" class="btn btn-pink text-center">Enviar consulta</button>
            </div>
          </div>

          <div class = "main-info header-text">
            <table class = "table">
              <tbody class="text-white text-center ">
                <tr>
                  <th class="bg-white text-dark text-center">JUEGO</th>
                  <th class="bg-white text-dark text-center">PLATAFORMA</th>
                  <th class="bg-white text-dark text-center">TOTAL RUNS</th>
                </tr>
                @for (datum of games; track datum.Game_Id) {
                  <tr>
                    <th class = "border border-white text-white"> {{  datum["Name"]  }}  </th>
                    <td class = "border border-white text-white"> {{  datum["Platforms"]  }}  </td>
                    <td class = "border border-white text-white"> {{  datum["Total_Runs"].slice(0,datum["Total_Runs"].length-2)  }} </td>
                  </tr>
                } @empty {
                  <tr>
                    <td colspan="4" class="text-center">Aún no hay datos</td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>