<header class="header-area header-sticky bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <div class="heading-section col-lg-6">
                        <a href="" class="logo">
                            <h1><i class='fas fa-gamepad mx-3'></i>Speedrunner</h1>
                        </a>
                    </div>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a routerLink="/" class="nav-item nav-link">Inicio</a></li>
                        <li><a routerLink="/datos" class="nav-item nav-link">Datos</a></li>
                        <li><a routerLink="/contacto" class="nav-item nav-link">Contacto</a></li>
                        <li><a routerLink="/profile">Profile <img src="assets/images/profile-header.jpg" alt=""></a></li>
                    </ul>   
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
  </header>